body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

#home-header{
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    background: transparent;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.bg-img{
    background: url("assets/pexels-pixabay-63633.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    filter: blur(3px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    display: block;
    background-color: #333333;
    object-fit: cover;
}



@media(max-width: 600px){
    .bg-img{
        background: url("assets/pexels-daria-shevtsova-3326220.jpg") no-repeat center center fixed;
    }

   
}

.quiz-card{
    width: 80%;
    background-color: #1d2a35;
    margin: 20px auto;
    border-radius: 10px;
    min-height: 200px;
    padding: 20px;
    display: block;
    position: relative;
    color: white;
}

.quiz-container{
    position: relative;
}

#user-title{
    position: relative;
}

@media (min-width: 900px){
    .quiz-card{
        width: 500px;
    }
}

.builder-form{
    position: relative;
    bottom: -8vh;
    
}

.builder-form > input, button {
    margin-left: 20px;
}

@media(max-width: 400px){
    .builder-form{
        bottom: -5vh;
    }
    .builder-form > input, button {
        margin-top: 10px;
    }
    input{
        width: 80%;
    }
}

.submit-btn{
    background-color: #11b461;
    padding: 5px;
    border: 2px solid #333333;
    border-radius: 10px;
}

.quiz-question-builder{
    display: none;
}

.user-input{
    display: block;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    position: absolute;
    
}

@media(max-width: 1000px){
    .user-input{
        top: 40%;
    }
}

.finish-btn{
    background-color: #b41611;
    padding: 5px;
    border: 2px solid #333333;
    border-radius: 10px;
}

#user-created-quizzes{
    display: none;
}

.game-on{
    display: none;
}

